{% extends 'base.html' %}

{% load account %}

{% block content %}

    {% if user.is_authenticated  %}
        
        {% if not user.is_staff %}
            <aside>
                <nav class="members">
                    <ul>
                        <li>
                            <a href="{% url 'myprofile' %}">
                                <i class="fa-solid fa-address-card"></i>
                                <small>my profile</small>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'mybookings' %}">
                                <i class="fa-solid fa-clipboard-list"></i>
                                <small>bookings</small>
                            </a>
                        </li>
                    </ul>
                </nav>
            </aside>
            <article class="container">
                <div>
                    {% block member_content %}{% endblock %}
                </div>
            </article>
        {% endif %}
        
        {% if user.is_staff %}
            <p>Redirect to dashboard...You are not a customer so you cannot view this page!</p>
        {% endif %}
        
    {% else %}
        <a href="{% url 'account_login' %}" class="loggedOut">Please sign in to view this page.</a>
    {% endif %}

{% endblock %}