{% extends 'base.html' %}

{% load account %}

{% block content %}
    {% if user.is_authenticated  %}
        {% if not user.is_staff %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <aside>
                            <nav>
                                <ul>
                                    <li>
                                        <a href="{% url 'member' %}">
                                            <i class="fa-solid fa-address-card"></i>
                                            <small>profile</small>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'appointments' %}">
                                            <i class="fa-brands fa-screenpal"></i>
                                            <small>appointments</small>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </aside>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8">
                        <article>
                            <div>
                                {% block member_content %}{% endblock %}
                            </div>
                        </article>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-1"></div>
                </div>
            </div>
        {% endif %}
        
        {% if user.is_staff %}
            <p>Redirect to dashboard...You are not a customer so you cannot view this page!</p>
        {% endif %}
        
    {% else %}
        <a href="{% url 'account_login' %}" class="loggedOut">Please sign in to view this page.</a>
    {% endif %}

{% endblock %}