{% extends 'base_members.html' %}

{% block title %}Profile{% endblock %}

{% block member_content %}

    <h2>
        My Bookings
    </h2>
    <hr/>
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#meetingroom">
                Meeting Room
            </button>
        </div>
        <div class="col-xs-6 col-md-6"></div>
    </div>
    <ul>
        <li>TODO: Which branch</li>
        <li>TODO: Date</li>
        <li>TODO: Arriving</li>
        <li>TODO: Duration (if known in hours)</li>
        <li>TODO: Special requests? (diet, wheel chair etc)</li>
        <li>TODO: Do you want lunch?</li>
        <li>TODO: Pay when you arrive (top up on checkout)</li>
    </ul>
    <hr/>
    <ul class="key">
        <li class="good">Green (active)</li>
        <li class="bad">Red (cancelled)</li>
    </ul>
    <table>
        <tbody>
            {% for item in booking_data %}
                <tr class="{% if item.cancel %}red{% else%}green{% endif%}">
                    <td>
                        <small>Booking date</small>
                        <br/>
                        <strong>{{ item.date }}</strong>
                        <br/>
                        <small>Created</small>
                        <br/>
                        {{ item.created }}
                    </td>
                    <td align="right">
                        {% if item.cancel %}
                            <span style="color:red">Cancelled<br/>{{ item.cancelwhen }}</span>
                        {% else%}
                            <span style="color:green">Cancel?</span>
                        {% endif%}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            edit
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>View booking details</li>
                    <li><button>edit/cancel</button></li>
                </ul>
                
            </div>
        </div>
        </div>
    </div>

    <!-- Meeting Room Modal -->
    <div class="modal fade" id="meetingroom" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Make a booking</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'bookings' %}">
                    {% csrf_token %}

                    <div class="input-group mb-3">
                        <label class="input-group-text" for="{{ form.name.id_for_label }}">
                            <i class="fa-solid fa-signature"></i>
                        </label>
                        {{ form.member }}
                        {{ form.member.errors }}
                    </div>

                    <div class="input-group mb-3">
                        <label class="input-group-text" for="{{ form.email.id_for_label }}">
                            <i class="fa-solid fa-envelope"></i>
                        </label>
                        {{ form.date }}
                        {{ form.date.errors }}
                    </div>

                    <div class="input-group mb-3">
                        <label class="input-group-text" for="{{ form.message.id_for_label }}">
                            <i class="fa-solid fa-phone"></i>
                        </label>
                        {{ form.meal }}
                        {{ form.meal.errors }}
                    </div>
                        <button type="submit" class="btn btn-primary text-white mt-3 fPersian">Submit Booking</button>
                </form>
            </div>
        </div>
        </div>
    </div>


{% endblock %}