{% extends 'base.html' %}
{% load static %}

{% block title %}The Daily Grind Cafe{% endblock %}

{% block content %}
    <div class="container-xl">
            <div class="row">
                <div class="col-xs-12 col-sm-6 my-auto">
                    <h1>The Daily Grind Cafe</h1>
                    <h2>The proof is in the pudding!</h2>
                    <p>
                        We have an assortment on offer at The Daily Grind Cafe. 
                        Hot and Cold beverages, Healthy Meals and naughty treats.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img src="{% static '/images/cafe.png' %}"/>
                </div>
                <div class="col-xs-12 col-sm-12 pt-5 pb-5">
                    <div class="row text-center">
                        <div class="col-xs-6 col-sm-3">
                            <img src="{% static '/images/feature_placeholder.png' %}"/>
                            <h6>Coffee &amp; Tea</h6>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <img src="{% static '/images/feature_placeholder.png' %}"/>
                            <h6>Cold Beverages</h6>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <img src="{% static '/images/feature_placeholder.png' %}"/>
                            <h6>Lunches &amp; Snacks</h6>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <img src="{% static '/images/feature_placeholder.png' %}"/>
                            <h6>Delicious Treats</h6>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}