{% extends 'base.html' %}

{% block title %}Demonstration{% endblock %}

{% block content %}
    <div class="container-xl p-5">
            <div class="row">
                <div class="col-xs-12 col-sm-5 my-auto">
                    <h1>Facility Tours</h1>
                    <h2>The proof is in the pudding!</h2>
                    <p>
                        We believe in the 'proof is in the pudding' philosophy.
                        We want to make you visit special, so fill in to booking 
                        form so that we know when to expect you.
                    </p>
                    <p>And yes, we do actually stock pudding!</p>
                </div>
                <div class="col-xs-12 col-sm-2"></div>
                <div class="col-xs-12 col-sm-5">
                    <p><strong>Please enter your details:</strong><br/><small>All fields are required</small></p>
                    <form method="post" action="{% url 'demo' %}">
                        {% csrf_token %}

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="{{ form.name.id_for_label }}">
                                <i class="fa-solid fa-signature"></i>
                            </label>
                            {{ form.demo_guest }}
                            {{ form.demo_guest.errors }}
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="{{ form.email.id_for_label }}">
                                <i class="fa-solid fa-envelope"></i>
                            </label>
                            {{ form.demo_email }}
                            {{ form.demo_email.errors }}
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="{{ form.message.id_for_label }}">
                                <i class="fa-solid fa-phone"></i>
                            </label>
                            {{ form.demo_phone }}
                            {{ form.demo_phone.errors }}
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="{{ form.message.id_for_label }}">
                                <i class="fa-solid fa-calendar-days"></i>
                            </label>
                            {{ form.demo_date }}
                            {{ form.demo_date.errors }}
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="{{ form.message.id_for_label }}">
                                <i class="fa-solid fa-clock"></i>
                            </label>
                            {{ form.demo_time }}
                            {{ form.demo_time.errors }}
                            </div>
                            <button type="submit" class="btn btn-primary text-white mt-3 fPersian">Submit Booking</button>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-12 pt-5 pb-5">
                    <hr/>
                    footer
                </div>
            </div>
    </div>
{% endblock %}