{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="hero_hme">
        <div class="inner">
            <div class="container-lg">
                <div class="row gx-5">
                    <!--GUEST VIEW-->
                    <div class="col-xs-12 col-sm-4 p-5 my-auto text-center">
                        <a href="{% url 'workspace' %}">
                            <img src="{% static '/images/workspace.png' %}"/>
                            <h3>Shared Office Space</h3>
                            <h4>A comfy space and great wifi!</h4>
                            <p>Walk-ins welcome</p>
                        </a>
                    </div>
                    <!--GUEST VIEW-->
                    <div class="col-xs-12 col-sm-4 p-5 my-auto text-center">
                        <a href="{% url 'meeting' %}">
                            <img src="{% static '/images/meeting_room.png' %}"/>
                            <h3>Meeting Rooms</h3>
                            <h4>Modern and stylish!</h4>
                            <p>Members only</p>
                        </a>
                    </div>
                    <!--GUEST VIEW-->
                    <div class="col-xs-12 col-sm-4 p-5 my-auto text-center">
                        <a href="{% url 'cafe' %}">
                            <img src="{% static '/images/cafe.png' %}"/>
                            <h3>The Daily Grind Cafe</h3>
                            <h4>Modern and stylish!</h4>
                            <p>All welcome</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>

{% endblock %}