{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

    <ul style="position: fixed; top: 64px;">
        <li>Intro (scroll up of down)</li>
        <li>About (scroll down)</li>
        <li>Find us (scroll down)</li>
    </ul>
    <div class="hero_hme">
        <div class="inner">
            <div class="container-xl">
                <div class="row">
                    <!--GUEST VIEW-->
                    <div class="col-xs-12 col-sm-12">
                    </div>
                    <div class="col-xs-12 col-sm-6 my-auto">
                        <h1>Shared Office Space</h1>
                        <h4>A comfy workspace and great wifi!</h4>
                        <p>
                            Our pods are designed for you to  maximise productivity 
                            while our facility offers you comfort at every level!
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-2"></div>
                        <div class="col-xs-12 col-sm-4">
                        <img src="{% static '/images/cubes.png' %}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about_hme">
        <div class="inner">
            <p>About</p>
            <hr/>
            <h6>Facility Tours</h6>
            <a href="{% url 'demo' %}" class="btn btn-success">Book Now</a>
        </div>
    </div>
    <div class="map_hme">
        <div class="inner">
            Find Us
        </div>
    </div>
    
  
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>

{% endblock %}