{% extends 'base.html' %}
{% load static %}

{% block title %}Our Meeting Room{% endblock %}

{% block content %}
    <div class="container-xl">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <img src="{% static '/images/meeting_room.png' %}"/>
                </div>
                <div class="col-xs-12 col-sm-6 my-auto">
                    <h1>Our Meeting Room</h1>
                    <h2>Stylish and Functional</h2>
                    <p>
                        Meetings shouldn't be boring, so we have kitted 
                        out our meeting room with cool gadgets and awesome chairs. 
                        The basics are provided, but we are open to special requests.
                    </p>
                    <p>
                        <a href="{% url 'account_login' %}" class="btn btn-primary">Login to Book</a> 
                    </p>
                    
                    <small>Not a member? <a href="{% url 'account_signup' %}">Sign Up</a></small>
                </div>
            </div>
            <div class="row pt-5 pb-5 text-center">
                <div class="col-sm-3">
                    <div class="usp">
                        <h6>Comfort</h6>
                        <p>Climate Controlled</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="usp">
                        <h6>Up to 12</h6>
                        <p>Guests</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="usp">
                        <h6>Refreshments</h6>
                        <p>Water, Coffee, Tea</p>
                    </div>  
                </div>
                <div class="col-sm-3">
                    <div class="usp">
                        <h6>UHD Display</h6>
                        <p>Laptop Connectivity</p>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}