{% extends 'base.html' %}
{% load static %}

{% block title %}Shared Office Space{% endblock %}

{% block content %}
    <div class="container-xl">
            <div class="row">
                <div class="col-xs-12 col-sm-6 my-auto">
                    <h1>Shared Office Space</h1>
                    <h2>All Welcome!</h2>
                    <p>
                        Come and work in an environment that is designed 
                        to help you be as productive as possible. From quiet 
                        zones to networking hubs, we should have a space that 
                        suits the way you want to work.
                    </p>
                    <small>Prices start at:</small>
                    <h3>&euro; 15 <small>per hour*</small></h3>
                    <p>
                        The longer you work, the cheaper the hourly rate!
                        <br/><small>*Excludes meeting room and cafe</small>
                    </p>
                    
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img src="{% static '/images/workspace.png' %}"/>
                </div>
                </div>
                <div class="row pt-5 pb-5 text-center">
                    <div class="col-sm-3">
                        <h6>Dublin 2</h6>
                        <p>1 Street, Building Name</p>
                        <small>+353 01 234 5678</small>
                    </div>
                    <div class="col-sm-3">
                        <h6>Dublin 15</h6>
                        <p>1 Street, Building Name</p>
                        <small>+353 01 234 5678</small>
                    </div>
                    <div class="col-sm-3">
                        <h6>Cork City Centre</h6>
                        <p>1 Street, Building Name</p>
                        <small>+353 01 234 5678</small>
                    </div>
                    <div class="col-sm-3">
                        <h6>Galway City Centre</h6>
                        <p>1 Street, Building Name</p>
                        <small>+353 01 234 5678</small>
                    </div>
            </div>
    </div>
{% endblock %}