body {
  margin: 0;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.temp {
  display: inline-block;
  padding: 16px;
  background-color: orangered;
  color: yellow;
}

.good {
  color: green;
}

.bad {
  color: red;
}

h1 button, h2 button, h3 button, h4 button, h5 button, h6 button {
  float: right;
}

header, footer, main, nav, section, aside, article {
  display: block;
  float: left;
  width: 100%;
}

#hdr {
  height: 64px;
  line-height: 40px;
  padding: 12px 16px;
  background: #ffce00;
  color: #fff;
  position: relative;
}
#hdr .logo {
  float: left;
  width: auto;
}
#hdr .logo img {
  float: left;
}
#hdr .strapline {
  float: left;
  width: auto;
  display: none;
}
#hdr .authStatus {
  width: auto;
  float: right;
  font-size: 0.9em;
  text-transform: uppercase;
}
#hdr .authStatus a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  border-radius: 12px;
  color: #1A1A1A;
  position: relative;
}
#hdr .authStatus a:hover {
  color: #000;
}
#hdr .authStatus a i {
  font-size: 24px;
  margin: 8px;
}
#hdr .authStatus a.loggedOut::before {
  content: "Login";
  width: auto;
  text-wrap: nowrap;
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translate(0%, -50%);
}

main {
  padding: 0em;
}
main a {
  color: #0071BC;
}
main a:hover {
  color: #013D5E;
}
main section {
  background-color: #f6f6f6;
  position: relative;
  padding: 0em;
}
main section .hero_hme {
  color: #fff;
  padding: 3em;
  float: left;
  width: 100%;
  min-height: calc(100vh - 64px);
  background-color: #0071BC;
  background: url("/static/images/background_hme.jpg") 50% 0 no-repeat;
  background-size: cover;
}
main section header {
  background-color: #fff;
  border-radius: 8px;
  margin: 2em 0;
  padding: 8px;
  font-size: 12px;
}
main section aside {
  float: left;
  width: 100%;
}
main section aside nav {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section aside nav ul {
  float: left;
  margin: 0;
  width: 100%;
  padding: 0;
  list-style: none;
}
main section aside nav ul li {
  width: auto;
  font-size: 24px;
  padding: 0 0 16px 0;
  text-align: center;
}
main section aside nav ul li a {
  padding: 8px;
  line-height: 24px;
  width: auto;
  color: #013D5E;
}
main section aside nav ul li a:hover {
  color: #1A1A1A;
}
main section aside nav ul li a i {
  float: left;
  width: 48px;
  height: 24px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 0;
}
main section aside nav ul li a small {
  float: left;
  width: auto;
  font-size: 12px;
  white-space: nowrap;
  margin-left: 8px;
  text-transform: uppercase;
}
main section aside nav.members {
  background-color: none;
}
main section aside nav.dashboard {
  background-color: none;
}
main section article ul.key {
  float: left;
  width: 100%;
  margin: 0;
  padding: 16px 0;
  list-style: none;
  font-size: 10px;
}
main section article ul.key li {
  float: left;
  width: auto;
  margin-right: 1em;
}
main section article .content {
  border: 1px solid #eee;
  border-radius: 8px;
  background-color: #fff;
  padding: 1em;
}
main section article table {
  margin: 0 !important;
}
main section article table tr:nth-child(odd) {
  background-color: #f6f6f6;
}
main section article table tr:nth-child(even) {
  background-color: #fff;
}
main section article table tr:hover {
  background-color: #eee;
}
main section article table tr td {
  padding: 8px;
}
main section article table tr td small {
  font-size: 10px;
}
main section article table tr.red td {
  color: red;
}
main section article table tr.green td {
  color: green;
}

#ftr {
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  main section aside {
    position: relative;
    margin: 0 0 16px 0;
    float: left;
    width: 100%;
    height: 48px;
  }
  main section aside nav {
    padding: 0 1em;
  }
  main section aside nav ul {
    width: auto;
  }
  main section aside nav ul li {
    font-size: 16px;
    padding: 4px 0;
  }
}/*# sourceMappingURL=styles.css.map */