body {
    margin: 0;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.temp {
    display: inline-block;
    padding: 16px;
    background-color: orangered;
    color: yellow;
}

.good {
    color:green;
}
.bad {
    color: red;
}

h1, h2, h3, h4, h5, h6 {
    button {
        float: right;
    }
}

header, footer, main, nav, section, aside, article {
    display: block;
    float: left;
    width: 100%;
}

#hdr {
    height: 64px;
    line-height: 40px;
    padding: 12px 16px;
    background: #ffce00;
    color: #fff;
    position: relative;
    .logo {
        float: left;
        width: auto;
        img {
            float: left;
        }
    }
    .strapline {
        float: left;
        width: auto;
        display: none;
    }
    .authStatus {
        width: auto;
        float: right;
        font-size: 0.9em;
        text-transform: uppercase;
        a {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            border-radius: 12px;
            color: #1A1A1A;
            position: relative;
            &:hover {
                color: #000;
            }
            i {
                font-size: 24px;
                margin: 8px;
            }
            &.loggedOut::before {
                content: 'Login';
                width: auto;
                text-wrap:nowrap;
                position: absolute;
                right: 100%;
                top:50%;
                transform: translate(-0%,-50%);
            }
        }
    }
}

main {
    padding:0em;
    a {
        color: #0071BC;
        &:hover {
            color: #013D5E;
        }
    }
    section {
        background-color: #f6f6f6;
        position: relative;
        padding:0em;
        .hero_hme {
            color: #333;
            padding: 3em;
            float: left;
            width: 100%;
            min-height:calc(100vh - 64px);
            background-color: #0071BC;
            background: url("/static/images/background_hme.jpg") 50% 0 no-repeat;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            .inner {
                width: 100%;
                height: 100%;
            }
        }
        header {
            background-color: #fff;
            border-radius: 8px;
            margin: 2em 0;
            padding: 8px;
            font-size: 12px;
        }
        aside {
            float: left;
            width: 100%;
            nav {
                padding:0;
                display: flex;
                align-items: center;
                justify-content: center;
                ul {
                    float: left;
                    margin: 0;
                    width: 100%;
                    padding:0;
                    list-style: none;
                    li {
                        width: auto;
                        font-size: 24px;
                        padding:0 0 16px 0;
                        text-align: center;
                        a {
                            padding:8px;
                            line-height: 24px;
                            width: auto;
                            color: #013D5E;
                            &:hover {
                                color: #1A1A1A;
                            }
                            i {
                                float: left;
                                width: 48px;
                                height: 24px;
                                margin: 0 auto;
                                border-radius: 8px;
                                padding:0;
                            }
                            small {
                                float: left;
                                width: auto;
                                font-size: 12px;
                                white-space: nowrap;
                                margin-left: 8px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
                &.members {
                    background-color: none;
                }
                &.dashboard {
                    background-color: none;
                }
            }
        }
        article {
            ul.key {
                float: left;
                width: 100%;
                margin: 0;
                padding: 16px 0;
                list-style: none;
                font-size: 10px;
                li {
                    float: left;
                    width: auto;
                    margin-right: 1em;
                }
            }
            .content {
                border: 1px solid #eee;
                border-radius: 8px;
                background-color: #fff;
                padding: 1em;
            }
            table {
                margin: 0!important;
                tr {
                    &:nth-child(odd) {
                        background-color: #f6f6f6;}
                    &:nth-child(even) {
                        background-color: #fff;
                    }
                    &:hover {
                        background-color: #eee;
                    }
                    td {
                        padding: 8px;
                        small {
                            font-size: 10px;
                        }
                    }
                    &.red {
                        td {
                            color: red;
                        }
                    }
                    &.green {
                        td {
                            color: green;
                        }
                    }
                }
            }
        }
    }
}

#ftr {
    font-size: 14px;
}


@media only screen and (max-width: 768px) {
    main {
        section {
        aside {
            position: relative;
            margin: 0 0 16px 0;
            float: left;
            width: 100%;
            height: 48px;
            nav {
                padding:0 1em;
                ul {
                    width: auto;
                    li {
                        font-size: 16px;
                        padding: 4px 0;
                    }
                }
            }
        }
        }
    }
  }