body {
    margin: 0;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.temp {
    display: inline-block;
    padding: 16px;
    background-color: orangered;
    color: yellow;
}

header, footer, main, nav, section, aside, article {
    display: block;
    float: left;
    width: 100%;
}

#hdr {
    height: 64px;
    line-height: 40px;
    padding: 12px 16px;
    background: #ffce00;
    color: #fff;
    position: relative;
    .logo {
        float: left;
        width: auto;
        img {
            float: left;
        }
    }
    .strapline {
        float: left;
        width: auto;
        display: none;
    }
    .authStatus {
        width: auto;
        float: right;
        font-size: 0.9em;
        text-transform: uppercase;
        a {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            border-radius: 12px;
            color: #1A1A1A;
            position: relative;
            &:hover {
                color: #000;
            }
            i {
                font-size: 24px;
                margin: 8px;
            }
            &.loggedOut::before {
                content: 'Login';
                width: auto;
                text-wrap:nowrap;
                position: absolute;
                right: 100%;
                top:50%;
                transform: translate(-0%,-50%);
            }
        }
    }
}

main {
    padding:0em;
    a {
        color: #0071BC;
        &:hover {
            color: #013D5E;
        }
    }
    section {
        padding:0em;
        background-color: #fff;
        position: relative;
        min-height: calc(100vh - 64px);
        border-left: 64px solid #eee;
        aside {
            float: left;
            width: 64px;
            position: absolute;
            top: 0;
            left: -64px;
            nav {
                padding:0 1em;
                display: flex;
                align-items: center;
                justify-content: center;
                ul {
                    float: left;
                    margin: 0;
                    width: 64px;
                    padding: 0;
                    list-style: none;
                    li {
                        float: left;
                        width: auto;
                        font-size: 24px;
                        padding: 8px 0;
                        text-align: center;
                        a {
                            float: left;
                            width: auto;
                            color: #013D5E;
                            &:hover {
                                color: #1A1A1A;
                            }
                            i {
                                margin: 0 auto;
                                border-radius: 8px;
                                width: 24px;
                                height: 24px;
                                padding:0;
                            }
                            small {
                                float: left;
                                width: 100%;
                                font-size: 11px;
                                line-height:150%;
                                white-space: nowrap;
                            }
                        }
                    }
                }
                &.members {
                    color: lightcyan;
                }
                &.dashboard {
                    color: lightgreen;
                }
            }
        }
        article {
            float: left;
            width: 100%;
            padding: 1em;
            table {
                width: 100%;
                border: 1px solid #ccc;
                font-size: 12px;
                thead {
                    font-weight: 700;
                    tr {
                        background-color: #ccc!important;
                    }
                }
                tr {
                    border-left:5px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    &:nth-child(odd) {
                        background-color: #f6f6f6;}
                    &:nth-child(even) {
                        background-color: #fff;
                    }
                    &:hover {
                        background-color: #eee;
                    }
                    td {
                        padding: 8px;
                        small {
                            font-size: 10px;
                        }
                    }
                    &.red {
                        border-left:5px solid red;
                    }
                    &.green {
                        border-left:5px solid green;
                    }
                }
            }
        }
    }
}