@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600;700&display=swap");
body {
  margin: 0;
  font-size: 16px;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.temp {
  display: inline-block;
  padding: 16px;
  background-color: orangered;
  color: yellow;
}

.good {
  color: green;
}

.bad {
  color: red;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
}
h1 button, h2 button, h3 button, h4 button, h5 button, h6 button {
  float: right;
}

header, footer, main, nav, section, aside, article {
  display: block;
  float: left;
  width: 100%;
}

#hdr {
  position: relative;
  z-index: 2;
  position: fixed;
  height: 64px;
  line-height: 40px;
  padding: 0 16px;
  background: rgb(220, 220, 220);
  color: #fff;
}
#hdr .logo {
  float: left;
  width: auto;
}
#hdr .logo img {
  float: left;
}
#hdr .strapline {
  float: left;
  width: auto;
  display: none;
}
#hdr .authStatus {
  width: auto;
  float: right;
  font-size: 0.9em;
  text-transform: uppercase;
}
#hdr .authStatus a {
  display: inline-block;
  height: 64px;
  line-height: 64px;
  border-radius: 12px;
  color: #1A1A1A;
  position: relative;
}
#hdr .authStatus a:hover {
  color: #000;
}
#hdr .authStatus a i {
  font-size: 24px;
  margin: 8px;
}

main {
  padding: 0em;
}
main a {
  color: #0071BC;
}
main a:hover {
  color: #013D5E;
}
main section {
  background-color: #f6f6f6;
  position: relative;
  padding: 64px 0 0 0;
  min-height: 100vh;
}
main section .hero_hme {
  color: #fff;
  padding: 3em;
  float: left;
  width: 100%;
  min-height: calc(75vh - 64px);
  background-color: purple;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section .hero_hme .inner {
  width: 100%;
  height: 100%;
}
main section .about_hme {
  color: #fff;
  padding: 3em;
  float: left;
  width: 100%;
  min-height: calc(75vh - 64px);
  background-color: gold;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section .about_hme .inner {
  width: 100%;
  height: 100%;
}
main section .map_hme {
  color: #fff;
  padding: 3em;
  float: left;
  width: 100%;
  min-height: calc(75vh - 64px);
  background-color: orange;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section .map_hme .inner {
  width: 100%;
  height: 100%;
}
main section aside {
  float: left;
  width: 100%;
}
main section aside nav {
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section aside nav ul {
  float: left;
  margin: 0;
  width: 100%;
  padding: 0;
  list-style: none;
}
main section aside nav ul li {
  width: auto;
  padding: 0 0 24px 0;
  text-align: center;
}
main section aside nav ul li a {
  padding: 8px;
  line-height: 24px;
  width: auto;
}
main section aside nav ul li a i {
  font-size: 24px;
  float: left;
  width: 48px;
  height: 24px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 0;
}
main section aside nav ul li a small {
  float: left;
  width: auto;
  font-size: 12px;
  white-space: nowrap;
  margin-left: 8px;
  text-transform: uppercase;
}
main section article {
  padding: 1em 0;
}
main section article header {
  background-color: #fff;
  border-radius: 8px;
  margin: 0 0 2em 0;
  padding: 8px;
  font-size: 12px;
}
main section article ul.key {
  float: left;
  width: 100%;
  margin: 0;
  padding: 16px 0;
  list-style: none;
  font-size: 10px;
}
main section article ul.key li {
  float: left;
  width: auto;
  margin-right: 1em;
}
main section article .content {
  border: 1px solid #eee;
  border-radius: 8px;
  background-color: #fff;
  padding: 1em;
}
main section article table {
  margin: 0 !important;
}
main section article table tr:nth-child(odd) {
  background-color: #f6f6f6;
}
main section article table tr:nth-child(even) {
  background-color: #fff;
}
main section article table tr:hover {
  background-color: #eee;
}
main section article table tr td {
  padding: 8px;
}
main section article table tr td small {
  font-size: 10px;
}
main section article table tr.red td {
  color: red;
}
main section article table tr.green td {
  color: green;
}

#ftr {
  font-size: 12px;
  font-weight: 700;
  background-color: #fff;
  color: #333;
  padding: 2em;
}
#ftr p {
  margin: 0;
  padding: 0;
}
#ftr nav {
  margin: 8px 0;
}
#ftr nav a {
  font-weight: 400;
  margin-right: 8px;
}

@media only screen and (max-width: 768px) {
  main section aside {
    position: relative;
    margin: 0 0 16px 0;
    float: left;
    width: 100%;
    height: 48px;
  }
  main section aside nav {
    padding: 0 1em;
  }
  main section aside nav ul {
    width: auto;
  }
  main section aside nav ul li {
    font-size: 16px;
    padding: 4px 0;
  }
}
.active {
  color: purple !important;
}/*# sourceMappingURL=styles.css.map */