<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Lavoro Workspaces</title>
</head>
<body>

    <header>
        
    </header>

    <main>
        <section>
            <h1>{% block header %}Welcome to My Website{% endblock %}</h1>
            {% block content %}{% endblock %}
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Lavoro Workspaces</p>
    </footer>

</body>
</html>