{% extends 'base.html' %}

{% load account %}

{% block content %}

    {% if user.is_authenticated  %}
        
        {% if user.is_staff %}
        
            <div class="container-fluid p-4">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <aside>
                            <nav>
                                <p>Appointments:</p>
                                <ul>
                                    <li>
                                        <a href="{% url 'dashboard' %}">
                                            <i class="fa-solid fa-gauge"></i>
                                            <small>my appointments</small>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'dashboard_appointments' %}">
                                            <i class="fa-solid fa-clipboard-list"></i>
                                            <small>all appointments</small>
                                        </a>
                                    </li>
                                </ul>
                                {% if user.is_superuser %}
                                <p>Superuser Options:</p>
                                <ul>
                                    <li>
                                        <a href="{% url 'members' %}">
                                            <i class="fa-solid fa-people-group"></i>
                                            <small>members</small>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'doctors' %}">
                                            <i class="fa-solid fa-id-badge"></i>
                                            <small>doctors</small>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </aside>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9">
                        <article>
                            <div>
                                {% block dashboard_content %}{% endblock %}
                            </div>
                        </article>
                    </div>
                </div>
            </div>

        {% endif %}
        
        {% if not user.is_staff %}
            <p>Redirect to profile...You are not a admin so you cannot view this page!</p>
        {% endif %}
        
    {% else %}
        <a href="{% url 'account_login' %}" class="loggedOut">Please sign in to view this page.</a>
    {% endif %}

{% endblock %}