{% extends 'base_dashboard.html' %}

{% block title %}Schedule{% endblock %}

{% block dashboard_content %}

    <h2>Schedule</h2>
    <ul>
        <li>fix admin display</li>
        <li>fix modal form</li>
        <li>[X] staff should be able to cancel a booking (think phone call)</li>
        <li>display: past,present,future</li>
        <li>Rule: Calendar must be from today onwards...</li>
        <li>Rule: Secondary archive calendar can be below...</li>
    </ul>

    <h5>Meeting Room:</h5>
    <div class="content">
        {% for calendar in cal_data %}
            <p>
                <strong>
                    {{ calendar.name }}
                </strong>
                <br/>
                {% for post in calendar.calendarinstance_set.all %}
                    <a 
                    style="width:30%" 
                    href="./{{ post.id }}" 
                    class="btn btn-{% if post.booked %}primary{% else%}light{% endif%}">
                        {{ post.start_time }}
                    </a>
                {% endfor %}
            </p>
            <hr/>
        {% endfor %}
    </div>

{% endblock %}