{% extends 'base_dashboard.html' %}

{% block title %}Dashboard{% endblock %}

{% block dashboard_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="insight">
                    <span class="count">
                        {{ open_appointments }}
                    </span>
                    <small>
                        Open Appointments<br/>
                        <a href="{% url 'patients' %}">
                            See all
                        </a>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}