{% extends 'base_dashboard.html' %}

{% block title %}Profile{% endblock %}

{% block dashboard_content %}

    <h2>All Appointments</h2>

    {% if requests %}
        <div class="content">
            {% for request in requests %}
            <div class="row">
                <div class="col-sm-6 text-start">
                    <a href="./{{ request.id }}">
                        <p>
                            <strong>
                                {{ request.app_type }}
                            </strong>
                            <br/>
                                {{ request.app_date }} @{{ request.app_time }}
                            <br/>
                            <small>Confirmation Status: 
                                {% if request.confirmed %}
                                    <span class="good">Confirmed</span> 
                                {% else%}
                                    <span class="bad">Pending</span> 
                                {% endif%}
                            </small>
                        </p>
                    </a>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ request.id }}">
                        View
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{ request.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Accept Booking</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    <strong>
                                        {{ request.app_type }}
                                    </strong>
                                    <br/>
                                        {{ request.app_date }} @{{ request.app_time }}
                                    <br/>
                                    <small>Confirmation Status: 
                                        {% if request.confirmed %}
                                            <span class="good">Confirmed</span> 
                                        {% else%}
                                            <span class="bad">Pending</span> 
                                        {% endif%}
                                    </small>
                                </p>
                                <hr>
                                <form method="post" action="{% url 'dashboard_appointment_accept' request.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary text-white mt-3 fPersian">Confirm Booking</button>
                                </form>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no appointment request at this time.</p>
    {% endif %}
    
    <hr>

    <h6>Completed by me:</h6>

{% endblock %}