{% extends 'base_dashboard.html' %}

{% block title %}Members{% endblock %}

{% block dashboard_content %}
    <h2>
        Members
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Manually Add
        </button>
    </h2>
    <div class="content">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Details</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users_members %}
                <tr>
                    <td>
                        {{ user.username }} | {{ user.email }}  - 
                        <br/>
                        <small>
                            {% if user.is_active %}
                            <a href="{% url 'disable_user' user.id %}" style="color:green">Enabled</a>
                            {% else %}
                            <a href="{% url 'disable_user' user.id %}" style="color:red">Disabled</a>
                            {% endif %}
                        </small>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Member</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Only add a new member if the individual has requested it.</p>
                <form method="post" action="{% url 'members' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Create Member</button>
                </form>
            </div>
        </div>
        </div>
    </div>


{% endblock %}