{% extends 'base_dashboard.html' %}

{% block title %}Patients{% endblock %}

{% block dashboard_content %}
    <div class="row">
        <div class="col-sm-12 text-start">
            <a href="{% url 'patients' %}">&lt; Back to Patients</a>
            <hr/>
        </div>
        <div class="col-sm-6 text-start">
            <h4>{{ record.app_type }}</h4>
            <p>
                {{ record.app_date }} @{{ record.app_time }}
                <br/>
                <small>Confirmation Status: 
                    {% if record.confirmed %}
                        <span class="good">Confirmed</span> 
                    {% else%}
                        <span class="bad">Pending</span> 
                    {% endif%}
                </small>
            </p>
        </div>
        <div class="col-sm-6 text-end my-auto">
            <a href="{% url 'patients_delete' record.id %}" class="btn btn-success">
                Accept Appointment
            </a>
        </div>
    </div>

{% endblock %}