{% extends 'base_dashboard.html' %}

{% block title %}Staff{% endblock %}

{% block dashboard_content %}
    {% if user.is_superuser %}
        <h2>
            Staff
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add New &#x2b;
            </button>
        </h2>
        <h6>Team</h6>
        <div class="content">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" style="width:20%;">Email</th>
                    <th scope="col" style="width:20%;">Status</th>
                    <th scope="col" style="width:20%;">Superuser?</th>
                </tr>
                </thead>
                <tbody>
                {% for user in staff_users %}
                    <tr>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            <small>
                                {% if user.is_active %}
                                <a href="{% url 'disable_user' user.id %}" style="color:green">Enabled</a>
                                {% else %}
                                <a href="{% url 'disable_user' user.id %}" style="color:red">Disabled</a>
                                {% endif %}
                            </small>
                        </td>
                        <td>
                            {% if not user.is_superuser %}
                                {% if user.is_active %}
                                <a href="{% url 'toggle_superuser' user.id %}" style="color:red">
                                    Create Superuser
                                </a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

        <h6>Additional Superusers</h6>
        <div class="content">
                
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Superuser</th>
                </tr>
                </thead>
                <tbody>
                {% for user in super_users %}
                    <tr>
                        <td>
                            {{ user.email }} | {{ user.username }} 
                            <br/>
                            <small>
                               {% if user.is_superuser %}
                                {% if not user.username == 'admin' %}
                                    <a href="{% url 'toggle_superuser' user.id %}" style="color:red">Remove</a>
                                {% endif %}
                                {% endif %}
                            </small>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
    {% endif %}

    {% if not user.is_superuser %}
        <p>It does not look like you have access to this section.</p>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'staff' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Create Admin User</button>
                </form>
            </div>
        </div>
        </div>
    </div>


{% endblock %}